@import "../../public/css/mixin";

/*验证码*/
.ipt-gp .code-btn{
    position:absolute;
    right:0;
    top:0;
    width:370rem/$size;
    height:110rem/$size;
    border-radius:5px;
    font-size:44rem/$size;
    font-family:'microsoft yahei';
    background:#ffb847;
    color:#fff;
    border:0;
    z-index:20;
}


.ipt-gp .code-btn:disabled{
    background:#ebebeb;
    color:#888;
}