@import "../../public/css/mixin";

.menu-title{
	height:126rem/$size;
	text-align:center;
	position:relative;
	background:#222431;
	font-size:42rem/$size;
}

.menu-title .icon-user{
	position:absolute;
	left:43rem/$size;
	top:50%;
	width:61rem/$size;
	height:61rem/$size;
	margin-top:-61rem/2/$size;
	background:url(imgs/icon-user.png) no-repeat;
	background-size:contain;
}

.menu-title .icon-help{
	position:absolute;
	right:43rem/$size;
	top:50%;
	width:61rem/$size;
	height:61rem/$size;
	margin-top:-61rem/2/$size;
	background:url(imgs/icon-help.png) no-repeat;
	background-size:contain;
}

.menu-title .tit-link{
	display:inline-block;
	padding:0 46rem/$size;
	color:#fff;
	height:126rem/$size;
	line-height:126rem/$size;
	position:relative;
}
.menu-title .tit-link.current{
	color:#ff5a54;
}
.menu-title .tit-link.current:after{
	content:'';
	position:absolute;
	left:0;
	bottom:6rem/$size;
	height:2px;
	width:100%;
	background:#ff5a54;
}

