@import "../../public/css/mixin";
.tb-page {
    min-height: 100vh;
  }

  .tb-circle {
    background: #fff;
    height: 365px;
    background-image: url(./imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 45px;
    box-sizing: border-box;
  }

  .tb-kiloes {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 61px;
    text-align: center;
    padding-top: 45px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 5px solid #F2F2F2;
  }

  .tb-desc {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666;
    letter-spacing: 0px;
    margin-bottom: 20px;
    position: relative;
    left: 4px;
  }

  .tb-result {
    font-family: DINCondensed-Bold;
    font-size: 72px;
    color: #262628;
    letter-spacing: 0px;
    line-height:1;
    margin-top:16px;
  }

  .tb-trains {
    background: #f7f7f7;
    box-shadow: 0 18px 24px 0 rgba(130,144,70,0.05);
    padding-left: 15px;
  }

  .tb-title {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 1;
    padding: 15px 0;
    color: #757575;
    letter-spacing: 0px;
  }

  .tc_classes {
    overflow-x: auto;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .tc_classes::-webkit-scrollbar {  
    background:rgba(0,0,0,0); 
    display: none;
 }

  .tb-buttons {
    text-align: center;
    font-size:0;
  }

  a.tb-button {
    user-select: none;
    display: inline-block;
    background: #FFEB3B;
    font-size: 18px;
    color: #262628;
    border-radius: 50px;
    min-width: 140px;
    text-align: center;
    line-height: 44px;
    font-family: PingFangSC-Regular;
    letter-spacing: -0px;
    margin:0 10px;
    font-weight:bold;
  }

  a.tb-button.tb-button-ghost {
    background: transparent;
    border: 1px solid #FFEB3B;
  }

  a.tb-button i,a.tb-button span{
    display:inline-block;
    vertical-align:middle;
  }

    a.tb-button i{
      background:url(./imgs/scan.png) no-repeat;
      width:18px;
      height:18px;
      background-size:cover;
      margin-right:12px;
    }
  

  

