@import "../../public/css/mixin";

.press-button {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    background: #fff;
    border: 2.5px solid #FFEB3B;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    text-align: center;
    
    font-size: 16px;
    line-height: 19px;
    font-family: PingFangSC-Regular;
    color: #424242;
    letter-spacing: -0px;
    
    
  }
  
  .press-button .canvas {
    position: absolute;
    left: -2.5px;
    top: -2.5px;
    right: 0px;
    bottom: 0px;
  }
  
  .press-button-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .press-button:focus {
    text-decoration: none;
    opacity: 1;
  }