@import "../../public/css/mixin";

.dialog-tips {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1024;
    display: inline-block;
    -webkit-transform:translate(-50%,-50%);
}

.dialog-tips-main {
    line-height:2;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    border-radius: 5px;
    padding: 15rem/$size 30rem/$size;
    font-size: 0;
    text-align: center;
    max-width:100%;
    margin:0 auto;
}

.dialog-tips-main i,
.dialog-tips-main span {
    display: inline-block;
    vertical-align: middle;
}
.dialog-tips-main .msg-text {
    font-size: 24rem/$size;
    word-break:break-all;

}
