@import "../../public/css/mixin";


.main{
	background:#f2f2f2;
}

.p_top{
	position:relative;
	overflow:hidden;
	height:710rem/$size;
	background:#fff;
}
.p_top .banner-img{
	height:710rem/$size;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}


.p_user{
	background:#fff;
	overflow:hidden;
	/*padding-bottom:20px;*/
}
.p_user .p_user_top{
	height:60px;
	position:relative;
}
.p_user_top .u_pic_outer{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	position:absolute;
	left:15px;
	top:50%;
	width:36px;
	height:36px;
	margin-top:-18px;
	overflow:hidden;
	border-radius:50%;
}
.p_user_top .u_text{
	position:absolute;
	left:64px;
	right:15px;
	top:0;
	height:60px;
}
.p_user_top .u_text .u_name{
	line-height:20px;
	height:20px;
	color:#666;
	font-size:14px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-top:14px;
}
.p_user_top .u_text .u_time{
	line-height:16px;
	height:16px;
	color:#b5b5b5;
	font-size:10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

/*说明*/
.p_user .p_user_del{
	font-size: 15px;
	color: #454545;
	line-height:22px;
	padding:3px 15px;
	text-align:justify;
	margin-bottom:20px;
	word-break:break-all;
}
.p_user .p_user_other{
	height:46px;
	position:relative;
	padding:0 15px;
}

.p_user_other .u-user-eat{
	display:inline-block;
	padding:0 5px;
	border-radius:3px;
	height:21px;
	line-height:21px;
	border:1px solid #D8D8D8;
	font-size:12px;
	color:#D8D8D8;
	margin-top:14px;
}
/*.p_user_other .u-user-zang{
	position:absolute;
	right:0;
	top:0;
	width:79px;
	height:46px;
	line-height:46px;
}*/


/*点赞*/
.p_zang_list{
	height:62px;
	line-height:62px;
	position:relative;
	font-size:15px;
	color:#454545;
	background:#fff;
	margin-top:12px;
	padding-left:16px;
}

.p_zang_list .u_zang_infor{
	position:absolute;
	left:64px;
	right:64px;
	top:0;
	height:62px;
	line-height:62px;
	font-size:0;
	overflow:hidden;
}

.p_zang_list .u_zang_item,.p_zang_list .u_zang_more{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	display:inline-block;
	vertical-align:middle;
	width:31px;
	height:31px;
	border-radius:50%;
	overflow:hidden;
	position:relative;
	margin-left:-5px;
}
.p_zang_list .u_zang_item:first-child{
	margin-left:0;
}

.p_zang_list .u_zang_item img,.p_zang_list .u_zang_more img{
	display:block;
	width:100%;
}
.p_zang_list .u_zang_more{
	background:#fff url(./imgs/icon-p6-zang-more-head.png) no-repeat;
	background-size:contain;
}

.p_zang_list .u-user-zang{
	position:absolute;
	right:0;
	top:0;
	width:54px;
	height:100%;
}

.p_zang_list .u-user-zang .u-icon-zang{
	position:absolute;
	left:50%;
	top:50%;
	width:22px;
	height:20px;
	-webkit-transform:translate(-50%,-50%);
	background-image:url(./imgs/icon-p6-zang.png);
	background-size:contain;
}
.p_zang_list .u-user-zang.current .u-icon-zang{
	background-image:url(./imgs/icon-p6-zang-now.png);
}


/*评论区*/
.p_comment_title{
	line-height:44px;
	height:44px;
	background:#fff;
	padding:0 15px;
	font-size: 14px;
	color:#666;
	margin-top:19px;
	position:relative;
}
.p_comment_title:after{
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;
	background:#e1e1e1;
	-webkit-transform:scaleY(0.5);
}

/*评论列表*/
.p_comment_list{
	background:#fff;
	padding-bottom:50px;
}
.u_comment_item{
	position:relative;
	overflow:hidden;
}
.p_comment_list .u_pic_outer{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	position:absolute;
	left:17px;
	top:12px;
	width:32px;
	height:32px;
	overflow:hidden;
	border-radius:50%;
}
.p_comment_list .u_text{
	margin:0 0 0 56px;
	padding:0 25px 12px 0;
	position:relative;
}
.p_comment_list .u_text:after{
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;
	background:#e1e1e1;
	-webkit-transform:scaleY(0.5);
}

.p_comment_list:last-child .u_text{
	border-bottom:0;
}
.p_comment_list .u_name{
	line-height:18px;
	height:18px;
	color:#888;
	font-size:12px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-top:10px;
}
.p_comment_list .u_time{
	line-height:16px;
	height:16px;
	color:#b2b2b2;
	font-size:10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

/*反馈*/
.p_comment_list .u_feedback{
	width:15px;
	height:15px;
	position:absolute;
	right:15px;
	top:15px;
	background:url(./imgs/icon-p6-comment.png) no-repeat;
	background-size:contain;
	overflow:hidden;
}
.p_comment_list .u_feedback .u_ipt{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	opacity:0;
}
.p_comment_list .u_feedback.current .u_ipt{
	display:none;
}
.p_comment_list .u_feedback_infor{
	line-height:20px;
	margin-top:10px;
	font-size:14px;
	color: #666;
	text-align:justify;
}
.p_comment_list .u_feedback_infor em{
	color:#fdb62c;
	font-style:normal;
	padding-right:5px;
}

/*固定输入框*/
.p_fixed_comment{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:50px;
	line-height:50px;
	background:#f2f2f2;
	z-index:1024;
}
.p_fixed_comment .fixed_ipt_outer{
	position:absolute;
	left:15px;
	right:70px;
	top:50%;
	height:30px;
	line-height:30px;
	background:#fff;
	border-radius:3px;
	margin-top:-15px;
	border: 1px solid #e1e1e1;
}
.p_fixed_comment .ipt_text{
	display:block;
	width:100%;
	box-sizing:border-box;
	padding:0 10px;
	position:absolute;
	left:0px;
	top:50%;
	height:20px;
	line-height:20px;
	font-size:14px;
	color: #333;
	margin-top:-10px;
	border:0;
}
.fixed_button{
	position:absolute;
	right:12px;
	top:10px;
	width:50px;
	height:30px;
	line-height:30px;
	font-size:16px;
	color: #B2B2B2;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	background:none;
	text-align:center;
}
.fixed_button.current{
	background:#FFCF01;
	color:#333;
}

