@import "../../public/css/mixin";
.tc_class {
    display: inline-block;
    width: 260px;
    height: 125px;
    margin-right: 12rem/$size;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tc_class .tc_title {
    position: absolute;
    top: 20px;
    left: 15px;
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0px;
  }

  .tc_class .tc_desc {
    position: absolute;
    top: 50px;
    left: 15px;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #fff;
    letter-spacing: -0px;
    line-height: 13.5px;
  }