@import "../../public/css/mixin";
.page-selected{background:#fff;}


.p-main{background:#f2f2f2;padding-bottom:32rem/$size;}

.p-title{font-size:28rem/$size;color: #262628;padding:32rem/$size 5% 20rem/$size 5%;}

.p-text{background:none;display:block;font-size:28rem/$size;color:#888;width:100%;padding:0 5%;box-sizing:border-box;resize:none}

.p-pic-wrap{padding:0 5%;min-height:158rem/$size;}
.p-pic-wrap ul{width:100%;}
.p-pic-wrap li{float:left;width:33.33%;margin-bottom:30rem/$size;position:relative;}
.p-pic-wrap li:nth-child(3n-1) {text-align:center;}
.p-pic-wrap li:nth-child(3n) {text-align:right;}

.p-pic-wrap .pic-item .u-pic-wrap{position:relative;display:inline-block;width:158rem/$size;height:158rem/$size;background:#fff;overflow:hidden;}
.p-pic-wrap .pic-item img{display:block;width:100%;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);}

.p-pic-add-btn{display:inline-block;width:158rem/$size;height:158rem/$size;border:1px solid #D8D8D8;box-sizing:border-box;position:relative;}
.p-pic-add-btn:before{content:'';position:absolute;left:50%;top:50%;width:2px;height:50%;-webkit-transform:translate(-50%,-50%);background:#d8d8d8;}
.p-pic-add-btn:after{content:'';position:absolute;left:50%;top:50%;width:50%;height:2px;-webkit-transform:translate(-50%,-50%);background:#d8d8d8}

.p-pic-list{padding-top:40rem/$size;}

.upload-infor{background: #FFEB3B;box-shadow: 0 10px 20px 0 rgba(255,235,59,0.10);border-radius:3px;padding:11rem/$size 14rem/$size;position:absolute;right:-100%;top:50%;-webkit-transform:translate(0,-50%);width:100rem/$size;line-height:27rem/$size;}
.upload-infor:after{content:'';position:absolute;left:-6px;top:50%;border-bottom:6px solid transparent;border-top:6px solid transparent;border-right:6px solid #FFEB3B;-webkit-transform:translate(0,-50%);}
.upload-infor p{font-size:20rem/$size;color:#262628;}


.dialog-publish-success{position:fixed;left:0;top:0;height:100%;width:100%;background:#fff;z-index:1024;display:block;}
.dialog-wrap{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);}
.dialog-wrap .dialog-icon-wrap{width:200rem/$size;height:200rem/$size;border-radius:50%;display:block;margin:0 auto;position:relative;background:#ffef62;}
.dialog-wrap .dialog-icon{overflow:hidden;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);display:block;background-size:cover;background-repeat:no-repeat;}
.dialog-wrap .dialog-icon:after{content:'';position:absolute;left:0;top:0;-webkit-animation: myfirst 1s forwards;width:104rem/$size;height:75rem/$size;background:#ffef62;}
.dialog-wrap .icon-success{width:104rem/$size;height:75rem/$size;background-image:url(./imgs/icon-right.png);}
.dialog-wrap .dialog-text{padding-top:40rem/$size;font-size:40rem/$size;width:100%;text-align:center;}

@-webkit-keyframes myfirst
{
	0%   {left: 0;}
	100% {left:104rem/$size;}
}

