@import "../../public/css/mixin";
.title-center{
    text-align:center;
    height:100rem/$size;
    line-height:100rem/$size;
    position:relative;
    overflow:hidden;
    background:#fff;

    .title-wrap{
        width:60%;
        margin:0 auto;
        display:flex;

       .title-item{
            flex:1;
            font-size:40rem/$size;
            position:relative;

            &.current:after{
                content:'';
                position:absolute;
                left:50%;
                bottom:0;
                width:50%;
                margin-left:-25%;
                height:2px;
                background:#000;
            }
        }


    }
}

