@import "../../public/css/mixin";
.nav{
    height:100rem/$size;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align:center;
    border:1px solid #ddd;
    display:flex;
    background:#fff;
    
    .nav-item{
        flex:1;
        font-size:20rem/$size;
        
        &.current{
            background:#eee;
        }

        .nav-icon{
            display:block;
            margin:10rem/$size auto 5rem/$size auto;
            width:92rem/2/$size;
            height:92rem/2/$size;
            background-repeat:no-repeat;
            background-size:contain;
        }

        .icon-tain{background-image:url(./imgs/icon-train.png);}
        .icon-challenge{background-image:url(./imgs/icon-challenge.png);}
        .icon-firends{background-image:url(./imgs/icon-friends.png);}
        .icon-mine{background-image:url(./imgs/icon-mine.png);}

        .nav-text{
            line-height:40rem/$size;
        }
    }


    
}

